<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Board</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control span2" data-bind='value:name' />
                </div>
                <p><strong class="text-danger">DEMO ALERT:</strong> All boards have 3 columns.</p>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind='click:close'>Cancel</button>
            <button type="button" class="btn btn-primary" data-bind='click: save'>Create</button>
        </div>
    </div><!-- /.modal-content -->
</div> <!-- /.modal-dialog -->