.navbar-inverse {
    background-color: #555;
    border-color: #666;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


.page-host {
    margin-top: 50px;
    background-color: #fdfdfd;
}

.board-detail {
    position: absolute;
    top: 60px;
    bottom: 30px;
    left: 0;
    right: 0;
}

.lanes {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.lane {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    margin: 15px;
}

.lane h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.lane .add-new{
    position: absolute;
    top: 30px;
    right: 10px;
}

.cards {
    min-height: 200px;
}
a.card {
    display: block;
    background-color: #fdf6d7;
    padding: 1px 15px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    text-decoration: none;
    color: #000;
    cursor: default;
}
a.card p {
    white-space: pre;
    max-height: 20px;
    overflow: hidden;
}

.placeholder {
    display: block;
    border: 2px dotted #ccc;
    border-radius: 4px;
    padding: 1px 15px 15px;
    margin-bottom: 15px;
}

.description {
    white-space: pre-wrap;
}